<footer class="main-footer">
    <div class="copyright">
        <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        <!-- hitwebcounter Code START -->
        <p> Page Views :
            <a id="sfc5hctna79wfmttcdwx33petjjn6nrmk11"></a>
            <script type="text/javascript" src="https://counter6.wheredoyoucomefrom.ovh/private/counter.js?c=5hctna79wfmttcdwx33petjjn6nrmk11&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter6.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=5hctna79wfmttcdwx33petjjn6nrmk11" border="0" title="web counter" alt="web counter"></a></noscript>
        </p>
</footer> <!-- End Footer -->